<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div id="add">
        <h3 class="text-center text-white pt-5">ABOUT US!</h3>
        <div class="container">
            <div id="add-row" class="row justify-content-center align-items-center">
                <div id="add-column" class="col-md-6">
                    <div id="add-box" class="col-md-12">
                        <form id="add-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Michael and Leroy</h3>

                            <div class="form-group">
                                <label for="title" class="text-info">Michael:</label><br>
                                <h6>Michael is a software engineering major at Lipscomb University. He is interested in mobile technology,
                                  including phones, laptops, and other devices. Michael's favorite hobbies include eating, programming,
                                  playing games, and hanging with friends. He also enjoy baking on the occasion.
                                </h6>
                                <label for="title" class="text-info">Leroy:</label><br>
                                <h6>Leroy is also a software engineering major at Lipscomb University. He is interested in things like video games
                                and art, and would love to go into a job that has to do with one of those. Thrown into college at the young age of 16 he wasn't
                                ready for the hardships that were to come forth from college life, but he preservered and has made it so far into this harsh and
                                stressful semesters. Currently a sophmore, he has high hopes for the future in which he can become a programmer and work with
                                other people that share the same passion on this subject.
                                </h6>
                            </div>


                            <!-- <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"  (click)="addThisMOVIE()" >
                            </div> -->
                            <!-- <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
