<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link"> this is a navbar</a>
  <li *ngIf="loggedIn" class="nav-item" (click)="logout()">
    <a href="#" class="nav-link">Logout</a>
  </li>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="/movie">GROOVY MOVIE</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/help" class="nav-link">Help</a></li>
                <li class="nav-item"><a href="/addmovie" class="nav-link">Add Movie</a></li>
                <button type="button" class="btn btn-outline-secondary" (click)="logout()" *ngIf="loggedIn==true">Logout</button>

            </ul>
            <!-- <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="nav-item order-2 order-md-1"><a href="#" class="nav-link" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a></li>
                <li class="dropdown order-1">
                    <button type="button" class="btn btn-outline-secondary" (click)="logout()">Logout</button>
                </li>
            </ul> -->
        </div>
    </div>
</nav>
