body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
}
#add .container #add-row #add-column #add-box {
  margin-top: 50px;
  max-width: 600px;
  height: 70%;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  margin-bottom: auto;
}
#add .container #add-row #add-column #add-box #add-form {
  padding: 20px;
}
#add .container #add-row #add-column #add-box #add-form #register-link {
  margin-top: -85px;
}
