<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div id="add">
        <h3 class="text-center text-white pt-5">SUBMIT INFORMATION!</h3>
        <div class="container">
            <div id="add-row" class="row justify-content-center align-items-center">
                <div id="add-column" class="col-md-6">
                    <div id="add-box" class="col-md-12">
                        <form id="add-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Add a movie!</h3>

                            <div class="form-group">
                                <label for="title" class="text-info">Title:</label><br>
                                <input type="text" name="title" id="title" class="form-control"  [(ngModel)]="title">
                            </div>

                            <div class="form-group">
                                <label for="ageRating" class="text-info">Age Rating:</label><br>
                                <input type="text" name="ageRating" id="ageRating" class="form-control"  [(ngModel)]="ageRating">
                            </div>
                            <div class="form-group">
                                <label for="timeRunning" class="text-info">Movie Length:</label><br>
                                <input type="text" name="timeRunning" id="timeRunning" class="form-control"  [(ngModel)]="timeRunning">
                            </div>

                            <div class="form-group">
                                <label for="genre" class="text-info">Genre:</label><br>
                                <input type="text" name="genre" id="genre" class="form-control"  [(ngModel)]="genre">
                            </div>

                            <div class="form-group">
                                <label for="director" class="text-info">Directors:</label><br>
                                <input type="text" name="director" id="director" class="form-control"  [(ngModel)]="director">
                            </div>

                            <div class="form-group">
                                <label for="stars" class="text-info">Stars:</label><br>
                                <input type="text" name="stars" id="stars" class="form-control"  [(ngModel)]="stars">
                            </div>

                            <div class="form-group">
                                <label for="description" class="text-info">Description:</label><br>
                                <textarea type="text" name="description" id="description" class="form-control"  [(ngModel)]="description"></textarea>
                            </div>


                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"  (click)="addThisMOVIE()" >
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
