<!-- <div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="row">
      <input type="email" name="email" id="email" placeholder="Email" [ngModel]="email" />
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <input type="password" name="password" id="password" placeholder="Password" [ngModel]="password" />
    </div>
  </div>
    <div class="col-md-4">
  </div>
</div> -->


<!-- <form action="">
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4"> -->
        <!-- <input type="email" name="email" placeholder="Email" [(ngModel)]="email"> <!-- puts in variable called pasword -->
        <!-- <input type="password" name="password" placeholder="Password"  [(ngModel)]="password">
      </div>
      <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <!-- will do the login() function when clicked -->
          <!-- <button class="btn btn-success" (click)="login()">Login</button>
        </div>
        <div class="col-md-4">

        </div>
      </div>
  </form> -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <body>
      <div id="login">
          <h3 class="text-center text-white pt-5">Login form</h3>
          <div class="container">
              <div id="login-row" class="row justify-content-center align-items-center">
                  <div id="login-column" class="col-md-6">
                      <div id="login-box" class="col-md-12">
                          <form id="login-form" class="form" action="" method="post">
                              <h3 class="text-center text-info">Login</h3>
                              <div class="form-group">

                                <div class="alert alert-danger" *ngIf="failure">
                                  <strong>You failed!</strong> Your username or password does not exist.
                                </div>

                                  <label for="email" class="text-info">Email:</label><br>
                                  <input type="text" name="email" id="email" class="form-control"  [(ngModel)]="email">
                              </div>
                              <div class="form-group">
                                  <label for="password" class="text-info">Password:</label><br>
                                  <input type="text" name="password" type= "password" id="password" class="form-control"  [(ngModel)]="password">
                              </div>
                              <div class="form-group">
                                  <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"  (click)="login()" >
                              </div>
                              <!-- <div id="register-link" class="text-right">
                                  <a href="#" class="text-info">Register here</a>
                              </div> -->
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
