<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div id="add">
        <h3 class="text-center text-white pt-5">Support/Help</h3>
        <div class="container">
            <div id="add-row" class="row justify-content-center align-items-center">
                <div id="add-column" class="col-md-6">
                    <div id="add-box" class="col-md-12">
                        <form id="add-form" class="form" action="" method="post">
                            <h3 class="text-center text-info"></h3>

                            <div class="form-group">
                                <label for="title" class="text-info">Adding Movies:</label><br>
                                <h6>To add a movie there are 3 steps:
                                  <br>Step 1: Click on "Add Movie" button on the Navbar at the top of the page.
                                  <br>Step 2: Fill in all appropriate information in given text boxes, check grammar carefully.
                                  <br>Step 3: Click on the "Submit" button and then click on the "GROOVY MOVIE" home button on the navbar to see your movie appear on  the lists of movies available.
                                </h6>
                                <label for="title" class="text-info">Contact The Creators:</label><br>
                                <h6>Leroy Goorcharran:
                                  <br>Email: lsgoorcharran@mail.lipscomb.edu
                                  <br>
                                    <br>Michael Balsamo:
                                    <br>Email: michaelbalony@gmail.com
                                </h6>
                            </div>


                            <!-- <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"  (click)="addThisMOVIE()" >
                            </div> -->
                            <!-- <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
